@import 'weather-svg.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
}

.weather {
  height: 100%;
}

.button {
  cursor: pointer;
  padding: 1em 2em;
  border: 0;
  border-radius: 2em;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 1px 1px black;
}
